<div>
  <h1>Upcoming Sport Events</h1>
  <hr/>
  <div class="row">
    <div class="hidable">
    <sorting [events]="events"></sorting>
    <div class="pull-right col-md-2">
      <button class="btn btn-default btn-sm" [class.active]="showCanceled === true"
              (click)="toggleCanceledEvents()">Show canceled events
      </button>
    </div>
    </div>
  </div>
  <div class="row">
    <h1 class="term" *ngIf="searchTerm">Search term: {{searchTerm}}</h1>
    <h1 class="term" *ngIf="filterTerm">Filtering by: {{filterTerm}}</h1>
    <h1 class="term" *ngIf="events?.length === 0">No events found :(</h1>
    <div *ngFor="let event of events" class="col-md-5">
      <event-thumbnail [event]="event"></event-thumbnail>
    </div>
  </div>
</div>
