.term {
  padding-left: 20px;
  padding-bottom: 25px;
}

.active {
  background-color: #5f7284 !important;
}

.btn-default:hover {
  background-color: #485563;
}

.btn-default {
  color: #ffffff;
  margin-right: 15px;
  background-color: #4e5d6c;
  border-color: transparent;
  border-radius: 0;
  font-size: 11px;
  width: 150px;
}

@media (max-width: 1167px)
{
  .hidable
  {
    display: none;
  }
}
