.btn-primary {
  color: #ffffff;
  background-color: #df691a;
  border-color: transparent;
  border-radius: 0;
}

.btn-primary:hover  {
  background-color: #ff8c1a;
}

.btn-default {
  color: #ffffff;
  background-color: #4e5d6c;
  border-color: transparent;
  border-radius: 0;
}

.btn-default:hover {
  background-color: #485563;
}
