<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image" height="42" width="42">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Author:</strong> {{event?.author}}</div>
      <div><strong>Phone Number:</strong> {{event?.phoneNumber}}</div>
      <div><strong>Date:</strong> {{event?.date | date:'y-M-d'}}</div>
      <div><strong>Event Time:</strong> {{event?.timeFrom}} - {{event?.timeTill}}</div>
      <div *ngIf="event?.price > 0"><strong>Price:</strong> {{event?.price}}</div>
      <div *ngIf="event?.price === 0"><strong>Price:</strong> FREE</div>
      <div><strong>Sport Type:</strong> {{determineSportType(event?.sportType)}}</div>
      <div *ngIf="event.facebookEventUrl"><strong>Facebook Event Url:</strong> {{event?.facebookEventUrl}}</div>
      <div><strong>Votes count:</strong> {{event?.voters.length}}</div>
      <address *ngIf="event.location">
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
      <div *ngIf="event.description"><strong>Description:</strong> {{event?.description}}</div>
    </div>
    <div class="col-md-1">
      <div *ngIf="auth.isAuthenticated()">
        <upvote (vote)="toggleVote(event)"
                [count] ="event.voters.length"
                [voted]="userHasVoted(event)">
        </upvote>
      </div>
    </div>
  </div>
</div>
