<h1>Edit Your Event</h1>
<hr>
<div class="col-md-6">
  <form [formGroup]="eventForm" (ngSubmit)="saveEvent(eventForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="name">Event Name:</label>
      <input formControlName="name" required id="name" type="text" class="form-control"
             placeholder="Name of your event..."/>
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
       <input  formControlName="author" required id="author" type="text" class="form-control"
             placeholder="Author of event..."/>
    </div>

    <div class="form-group">
      <label>Sport Type:</label>
     <select class="form-control" required>
        <option *ngFor="let sportType of sportTypes" value="{{sportType.id}}" [selected]="sportType.id === event.sportTypeId">{{sportType.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="eventDate">Event Date:</label>
      <input  formControlName="date" required id="eventDate" type="date" class="form-control" [ngModel]="event.date | date:'yyyy-MM-dd'" />
    </div>

    <div class="row">
      <div class="col-md-6">
        <label for="timeFrom">Event Start Time:</label>
          <input  formControlName="timeFrom" required id="timeFrom" type="text"
               pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}"
               class="form-control" placeholder="HH:MM" maxlength=5/>
      </div>
      <div class="col-md-6">
        <label for="timeTill">Event End Time:</label>
         <input formControlName="timeTill"  name="timeTill" required id="timeTill" type="text"
               pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}"
               class="form-control" placeholder="HH:MM" maxlength=5/>
      </div>
    </div>

    <div class="form-group">
       <label for="phoneNumber">Phone number:</label>
       <input  formControlName="phoneNumber" required id="phoneNumber" type="text" class="form-control"
             placeholder="Phone number..."/>
    </div>
    <div class="form-group">
         <label for="eventPrice">Event Price:</label>
      <input min=0 oninput="validity.valid||(value='')" formControlName="price" required id="eventPrice"
         type="number" class="form-control"
             placeholder="Event price. Enter 0 if free..."/>
    </div>


      <div class="form-group">
        <label for="address">Event Location:</label>
        <input  formControlName="address" id="address" type="text" class="form-control"
               placeholder="Address of event..."/>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input  formControlName="city" id="city" type="text" class="form-control" placeholder="City..."/>
        </div>
        <div class="col-md-6">
          <input  formControlName="country" id="country" type="text" class="form-control"
                 placeholder="Country..."/>
        </div>
      </div>


    <div class="form-group">
      <label for="facebookEventUrl">Facebook event Url:</label>
      <input  formControlName="facebookEventUrl" id="facebookEventUrl" type="url" pattern="https?://.+"
             class="form-control"
             placeholder="Facebook event Url https://..."/>
    </div>

    <div class="form-group">
      <label for="description">Event Description:</label>
      <textarea class="form-control" rows="4" formControlName="description" id="description"
                placeholder="More details about event...">
      </textarea>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image:</label>
         <input formControlName="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text"
             class="form-control" placeholder="Image Url..."/>
      <img [src]="eventForm.controls.imageUrl.value"
           *ngIf="eventForm.controls.imageUrl?.valid" height="60" width="60"/>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>
