<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
  <h2>
    {{event?.name | uppercase}}
    <i *ngIf="event.voters.length > 3" class="glyphicon glyphicon-fire" style="color:red"></i>
  </h2>
  <div>Author: {{event?.author}}</div>
  <div>Sport: {{event?.sport}}</div>
  <div>Date: {{event?.date | date:'y-M-d'}}</div>
  <div>Event Start Time: {{event?.timeFrom}} </div>
  <div>Event End Time: {{event?.timeTill}} </div>
  <div *ngIf="event?.price">
    Price: {{event?.price | currency:'EUR':true}}
  </div>
  <div>
    <span>Location: {{event?.location?.address}}</span>
    <span class="pad-left">{{event?.location?.city}}, {{event?.location.country}}</span>
  </div>
  <div *ngIf="event?.facebookEventUrl">
    Facebook event URL: {{event?.facebookEventUrl}}
  </div>
</div>
