.thumbnail {
  min-height: 300px;
  background-color: #4e5d6c;
  border: none;
}

.pad-left {
  margin-left: 10px;
}

.well div {
  color: #bbb;
}

.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}
