<div class="row" *ngFor="let event of myEvents">
  <div class="col-md-12">
    <collapsible-well>
      <div well-title class="title">
        {{event.name}}
        <i *ngIf="event.voters.length > 3" class="glyphicon glyphicon-fire" style="color:red"></i>

          <button class="btn btn-default" (onClick)="onCancelClick(event.id)">Cancel Event</button>
          <button class="btn btn-primary">Edit</button>

      </div>
      <div well-body>
        <div><strong>Date:</strong> {{event?.date | date:'y-M-d'}}</div>
        <div><strong>Event Time:</strong> {{event?.timeFrom}} - {{event?.timeTill}}</div>
      </div>
    </collapsible-well>
  </div>
</div>

